<!DOCTYPE html>
<!--  //res.write('<script>var cds = '+JSON.stringify(v_cd_list.cds.cd)+'; \n</script>');
  res.write('<script src="../js/cd.js"></script>');-->
  <html lang="en">
  <head>
    <title>Pauseless WebApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <!--link rel="stylesheet" href="/css/app.css" /-->
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body ng-app="pauseless" class="{{bodyClass}}">

    <header role="navigation" id="navbar">
      <div style="margin-left:10px;">
        <!--a href="/#/init">inizializza</a-->
        <a href="/#!/mix">lista mix</a> -
        <a href="/#!/cd">lista cd</a> -
        <a href="/#!/tmpmixes">mix temporanei</a> -
        <a href="/#!/keys">tonalita</a> -
        <a href="/#!/songs">canzoni</a> -
        <a href="/#!/readme">README</a>
        <span class="navbar-right" style="margin-right:20px;" ng-if="unsaved">
          <button class="btn btn-danger" ng-click="dumpCd()" size="10">Salva cambiamenti</button>
        </span>
      </div>
    </header>
    <!--/header-->

    <div class="c-space-2">
        <div class="container" ng-view></div>
    </div>
    <!--/content-->

    <footer data-region="footer" ng-show="showToolbar">
        <div class="container c-space-top-2">
            <div class="row">
                <div class="col-md-12">
                    <hr />
                    © Pauseless Lab
                </div>
            </div>
        </div>
    </footer>
    <!--/footer-->

    <!--{{showToolbar}}-->

    <!--lib-->
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="lib/underscore/underscore.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-route/angular-route.min.js"></script>
    <script src="lib/angular-file-upload/dist/angular-file-upload.min.js"></script>
    <script src="lib/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="lib/typeahead.js/dist/typeahead.bundle.js"></script>
    <script src="lib/angular-typeahead/dist/angular-typeahead.min.js"></script>
    <!--/lib-->

    <script src="js/app.js"></script>
    <script src="js/controllers/test.js"></script>
    <script src="js/controllers/mixes.js"></script>
    <script src="js/controllers/cds.js"></script>
    <script src="js/controllers/mix.js"></script>
    <script src="js/controllers/show_mix_key.js"></script>
    <script src="js/controllers/cd.js"></script>
    <script src="js/controllers/keys.js"></script>
    <script src="js/controllers/song.js"></script>
    <script src="js/controllers/tmpmixes.js"></script>
    <script src="js/controllers/empty.js"></script>
    <script src="js/controllers/songs.js"></script>
    
    <script src="js/directives/sorttable.directive.js"></script>
    <script src="js/directives/sorttable.controller.js"></script>

    <script src="js/directives/textahead.directive.js"></script>
    <script src="js/directives/textahead.controller.js"></script>

  </body>
</html>
