
<style>
.twitter-typeahead {
  display: inline; /*x contrastare una classe di default sullo span intorno all'input*/
}
.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}
</style>
<div class="page-header"><h1>cd {{cd_name}}</h1>
  <!--i class="fa fa-pencil" aria-hidden="true" ng-click="toggle_edit()">  </i-->
</div>
<!--pre>{{pause}}</pre-->

<div class="container-fluid">
  <div class="row" ng-repeat="song in songs track by $index">
    <div class="form-group form-inline col-sm-12">
        <input class="form-control" type="text" ng-model="song.$.track"  size="2" placeholder="track" disabled="disabled" />
        <input class="form-control" type="text" ng-model="song.$.artist"  size="30" placeholder="artist" />
        <input class="form-control" type="text" ng-model="song.$.title"  size="30" placeholder="title" />
        <input class="form-control" type="text" ng-model="song.$.bpm"  size="3" placeholder="bpm" />
        <select class="form-control" ng-model="song.$.wav" name="wav"
                ng-options="formato.val as formato.nome for formato in options.formato">
        </select>
        <select class="form-control" ng-model="song.$.key" name="key"
                ng-options="chiave.val as chiave.nome for chiave in options.keys track by chiave.val">
                <option name="" value=""></option>
        </select>
        <!--input type="text" ng-model="song.$.key"  size="3" /-->
        <!--input class="btn-primary" type="submit" value="update" ng-click="updateSong(song)" size="10" /-->
        <button class="btn btn-success" ng-if="$index > 0" ng-click="swapSong(song.$.track, song.$.track-1)" size="4">Up</button>
        <button class="btn btn-success" ng-if="$index < songs.length - 1" ng-click="swapSong(song.$.track, song.$.track+1)" size="4">Down</button>
        <button class="btn btn-primary" ng-click="updateSong(song)" size="10">Update</button>
        <button class="btn btn-danger" ng-click="deleteSong(song)" size="10">Delete</button>
        <button class="btn btn-info" ng-click="showSong(song)" size="10">Pause</button>
        <div class="container-fluid" style="margin-top:5px">
          <div class="row">
            <div class="col-sm-2">
              <ul class="list-group" ng-click="openPause(song, $index)"> <!--data-toggle="modal" data-target="#myModal"-->
                  <li class="list-group-item" ng-repeat="pausa in song.pause">
                      <!--input type="text" ng-model="pause" size="10" /-->
                      {{pausa}}
                  </li>
              </ul>
            </div>
            <div class="col-sm-10"></div>
          </div>
        </div>
    </div>
  </div>
</div>

  <div class="form-group form-inline">
  <!--input class="form-control" type="text" ng-model="track"  size="2" placeholder="track" /-->
  <!--input class="form-control" sf-typeahead options="exampleOptions" datasets="numbersDataset" type="text" ng-model="artist" size="30" placeholder="artist" /-->
  <text-ahead size="30" dataurl="'/json/artists'" placeholder="artist"></text-ahead>
  <input class="form-control" type="text" ng-model="title"  size="30" placeholder="title" />
  <input class="form-control" type="text" ng-model="bpm"  size="3" placeholder="bpm" />
  <select class="form-control" ng-model="wav" name="wav">
    <option value="wav">wav</option>
    <option value="mp3">mp3</option>
  </select>
  <select class="form-control" ng-model="key" name="key">
    <option ng-repeat="key in keys" value="{{key.key}}">{{ key.key }}</option>
  </select>
  <!--input type="text" ng-model="wav"  size="3" placeholder="wav - mp3" /-->
  <!--input class="btn-primary" type="submit" value="add" /-->
  <button class="btn btn-primary" ng-click="addSong()" size="10">Aggiungi</button>
  </div>
<hr />
<button class="btn btn-success" ng-click="show_xml()" size="10">Mostra XML</button>
<pre ng-show="xml_toggle">{{xml_cd}}</pre>
<hr />
<div class="well my-drop-zone" nv-file-drop uploader="uploader">
    <p ng-if="files.length < 1">Drop here your files</p>
    <div class="row" ng-repeat="file in files"><p>{{file.name}}</p></div>
</div>
<button ng-disabled="files.length < 1" class="btn btn-warning" ng-click="add_files_to_cd()" size="10">Aggiungi tracce</button>
<hr />
<p>Debug info</p>
<pre>{{songs}}</pre>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modifica pause</h4>
      </div>
      <div class="modal-body">
        <ul class="list-group">
            <li class="list-group-item">
                <span ng-repeat="pausa in pause">
                  <input type="text" ng-model="pausa" size="10" />
                </span>
            </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" ng-click="updatePause()">Update</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<script type="text/ng-template" id="pauseModal.html">
        <div class="modal-header">
            <h4 class="modal-title">Modifica pause</h4>
        </div>
        <div class="modal-body">
          <ul class="list-group">
              <li class="list-group-item">
                  <span ng-repeat="pausa in pause">
                    <input type="text" ng-model="pausa" size="10" />
                  </span>
              </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" ng-click="updatePause()">Update</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </script>
