<div class="page-header"><h1>cd list {{cds.length}}</h1></div>
<ul class="list-group">

  <li class="list-group-item" ng-repeat="cd in cds">
    <a href="/#!/cd/{{cd.$.name}}">{{cd.$.name}}</a>
  </li>

</ul>

<div class="form-group form-inline">
  <label for="usr">Name:</label>
  <input type="text" class="form-control" ng-model="cdName"  size="30" placeholder="add new cd" />
  <button class="btn btn-primary" ng-click="addCd()" size="10">Aggiungi</button>
</div>

</div>
