<style>
.col-md-1 { border: 1px solid #000; }
</style>
<div class="row" ng-show="loaded">
  <!--div class="col-md-1" ng-click="toggle($event)">B+<br />1b</div>
  <div class="col-md-1" ng-click="toggle($event)">F#+<br />2b</div>
  <div class="col-md-1" ng-click="toggle($event)">C#+<br />3b</div>
  <div class="col-md-1" ng-click="toggle($event)">G#+<br />4b</div>
  <div class="col-md-1" ng-click="toggle($event)">D#+<br />5b</div>
  <div class="col-md-1" ng-click="toggle($event)">A#+<br />6b</div>
  <div class="col-md-1" ng-click="toggle($event)">F+<br />7b</div>
  <div class="col-md-1" ng-click="toggle($event)">C+<br />8b</div>
  <div class="col-md-1" ng-click="toggle($event)">G+<br />9b</div>
  <div class="col-md-1" ng-click="toggle($event)">D+<br />10b</div>
  <div class="col-md-1" ng-click="toggle($event)">A+<br />11b</div>
  <div class="col-md-1" ng-click="toggle($event)">E+<br />12b</div-->
  <div ng-repeat="key in keys.major" class="col-md-1" ng-click="toggle($event)">{{key.key}}<br />{{key.position}}{{key.mark}}</div>
</div>
<div class="row">
  <!--div class="col-md-1" ng-click="toggle($event)">G#-<br />1a</div>
  <div class="col-md-1" ng-click="toggle($event)">D#-<br />2a</div>
  <div class="col-md-1" ng-click="toggle($event)">A#-<br />3a</div>
  <div class="col-md-1" ng-click="toggle($event)">F-<br />4a</div>
  <div class="col-md-1" ng-click="toggle($event)">C-<br />5a</div>
  <div class="col-md-1" ng-click="toggle($event)">G-<br />6a</div>
  <div class="col-md-1" ng-click="toggle($event)">D-<br />7a</div>
  <div class="col-md-1" ng-click="toggle($event)">A-<br />8a</div>
  <div class="col-md-1" ng-click="toggle($event)">E-<br />9a</div>
  <div class="col-md-1" ng-click="toggle($event)">B-<br />10a</div>
  <div class="col-md-1" ng-click="toggle($event)">F#-<br />11a</div>
  <div class="col-md-1" ng-click="toggle($event)">C#-<br />12a</div-->
  <div ng-repeat="key in keys.minor" class="col-md-1" ng-click="toggle($event)">{{key.key}}<br />{{key.position}}{{key.mark}}</div>
</div>
<div class="well well-lg" ng-show="key">
  <h1>{{key}}</h1>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="song in songs">{{song.path}} - {{ song.artist }} - 
          {{ song.title }} ({{ song.bpm }}) {{ song.wav }} <span class="badge">{{ song.used }}</span>
    </li>
  </ul>
</div>

