  <style>
  .odd{ background-image:url("../images/left_arrow.png"); background-repeat:no-repeat;} .even{ background-image:url("../images/right_arrow.png"); background-repeat:no-repeat;}
  </style>


<div class="page-header"><h1>{{mix_name}} - {{mix_bpm}}</h1></div>
<p ng-if="mix_description">{{mix_description}}</p>
<ul class="list-group">
	<li ng-repeat="song in songs" class="list-group-item">
		<div class="row">
      <div ng-if="!song.$.type || song.$.type === 'local'" class="col-md-6" ng-class-odd="'odd'" ng-class-even="'even'" style="padding-top:10px;padding-bottom:10px;padding-left:45px;">
		      {{ song.$.key }} <b>-</b> {{ song.$.path }} <b>-</b> {{ song.$.song }}
		      <span class="badge">{{ song.$.note }}</span>
      </div>
      <div ng-if="song.$.type === 'ext'" class="col-md-6" ng-class-odd="'odd'" ng-class-even="'even'" style="padding-top:10px;padding-bottom:10px;padding-left:45px;">
		      {{ song.$.key }} <b>-</b> {{ song.$.song }}
		      <span class="badge">{{ song.$.note }}</span>
      </div>
      <div ng-if="song.$.type === 'nota'" class="col-md-6" style="padding-top:10px;padding-bottom:10px;padding-left:45px;">
		      <span class="badge">{{ song.$.note }}</span>
      </div>
      <div class="col-md-1">niente</div>
      <div class="col-md-4">niente</div>
    </div>
	</li>
</ul>
