<div class="page-header"><h1>mix list {{mixes.length}}</h1></div>
<ul>

  <li class="list-group-item" ng-repeat="mix in mixes">
    <a href="/#!/mix/{{mix.$.name}}">{{mix.$.name}}</a> | <a href="/#!/key_mix/{{mix.$.name}}">testkey</a>
  </li>

</ul>

<!--form ng-submit="addCd()">
  <input type="text" ng-model="mixName"  size="30" placeholder="add new mix" /> - <input type="text" ng-model="mixBpm"  size="3" placeholder="145" />
  <input class="btn-primary" type="submit" value="add">
</form-->

</div>
