<h1>Istruzioni di installazione e uso</h1>

<h3> Installazione</h3>
<ul>
    <li>Scarica e installa (tutte le opzioni di default) GIT <a href="https://git-scm.com/downloads" target="_blank">da qui</a></li>
    <li>Apri una finestra ms-dos (Logo Windows + R, scrivere cmd nella casella di testo e premere invio)</li>
    <li>Navigare fino alla cartella desiderata (sul desktop ad esempio, cd Desktop)</li>
    <li>Scaricare i pacchetti con il comando git clone https://danielesergi@bitbucket.org/danielesergi/pauseless-webapp.git</li>
    <li>Scaricare la versione 8.10.0 di nodejs <a href="http://nodejs.org/download/releases" target="_blank">da qui</a> (x64.msi se è un pc a 64 bit, x86.msi se a 32) e installarla</li>
    <li>fare doppio click sul file "install" nella cartella pauseless-webapp e attendere l'installazione dei pacchetti aggiuntivi</li>
</ul>

<h3> Primo utilizzo</h3>
<ul>
    <li>doppio click sul file "start"</li>
    <li>inserire quando richiesto il nome utente (danistick, jack, test ecc)</li>
    <li>Cliccare <a href="localhost:3000" target="_blank">qui</a></li>
</ul>

<h3> Normale utilizzo</h3>
<ul>
    <li>doppio click sul file "update" (se si vuole controllare di avere l'ultima versione disponibile)</li>
    <li>doppio click sul file "start"</li>
    <li>inserire quando richiesto il nome utente (danistick, jack, test ecc)</li>
    <li>Cliccare <a href="localhost:3000" target="_blank">qui</a></li>
</ul>

<h3> Prima aggiunta di un cd</h3>
<ul>
    <li>Nella lista dei cd c'è il bottone Aggiungi : inserire il titolo di un cd e cliccare su Aggiungi</li>
    <li>cliccare sul nome del cd appena aggiunto</li>
    <li>aggiungere canzoni, metodo 1 : trascina i files di un cd nell'apposito riquadro grigio. I files devono essere in formato "trackno - artista - titolo" poi premi "Aggiungi tracce"</li>
    <li>aggiungere canzoni, metodo 2 : Scrivi i dati della canzone da aggiungere nelle apposite caselle in baso, poi premi "Aggiungi"</li>
    <li>sistema tutti gli altri dati non automatici delle canzoni</li>
    <li>Per scrivere su file tutti i cambiamenti, premi il grande bottone rosso in alto "Salva cambiamenti"</li>
</ul>
