<style>
.col-md-1 { border: 1px solid #000; padding: 0px; }
.col-sm-1 { border: 1px solid #000; }
.row {width:100%!important;}
td {padding: 0px!important;}
</style>
<div class="page-header"><h1>mix {{mix_name}} - {{mix.$.bpm}}</h1></div>
	<div class="row">
		<div class="col-md-1" ng-repeat="key in keys.major">
			<div class="panel panel-default">
				<div class="panel-heading">{{key.key}} ({{key.position}})</div>
				<div class="panel-body">
					<ul class="list-unstyled">
						<li ng-repeat="song in key.songs" data-toggle="tooltip" title="{{song.song}}">{{song.index}} - {{song.title}} {{song.key}}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1" ng-repeat="key in keys.minor">
			<div class="panel panel-default">
				<div class="panel-heading">{{key.key}} ({{key.position}})</div>
				<div class="panel-body">
					<ul class="list-unstyled">
						<li ng-repeat="song in key.songs">{{song.index}} - {{song.song}} {{song.key}}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-1" ng-repeat="key in keys.major">
			<div class="panel-heading">{{key.key}} ({{key.position}})</div>
			<ul class="list-unstyled">
				<li ng-repeat="song in key.songs">{{song.index}} - {{song.song}} {{song.key}}</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-1" ng-repeat="key in keys.minor">
			<div class="panel-heading">{{key.key}} ({{key.position}})</div>
			<ul class="list-unstyled">
				<li ng-repeat="song in key.songs">{{song.index}} - {{song.song}} {{song.key}}</li>
			</ul>
		</div>
	</div>
