<p>Modifica le pause della canzone</p>
<pre>{{song}}</pre>
<ul>
    <li ng-repeat="pa in pause">
        <input type="text" size="10" ng-model="pa.valore" /><input class="btn-primary" type="submit" value="-" ng-click="togliPause($index)" size="3" />
    </li>
</ul><input class="btn-primary" type="submit" value="+" ng-click="aggiungiPause()" size="3" />
<input class="btn-primary" type="submit" value="update pause" ng-click="updatePause()" size="10" />
<hr/>
<a href="/#/cd/{{cd}}">Torna al cd {{cd}}</a>