<div class="page-header"><h1>mix temporanei</h1></div>
<div class="container-fluid">
<ul class="list-group">

  <li class="list-group-item" ng-repeat="mix in mixes">
    <div class="row">
      <div class="col-sm-8">{{mix | lowerCase | tempMixName}}</div>
      <div class="col-sm-2">
        <button class="btn btn-info" ng-click="dumpMix(mix)" size="10">Salva</button>
      </div>
      <div class="col-sm-2">
        <button class="btn btn-danger" ng-click="removeMix(mix)" size="10">Elimina</button>
      </div>
    </div>
  </li>

</ul>

</div>
