<table>

    <thead>
        <tr>
            <th style="padding: 5px" ng-repeat="intestazione in intestazioni">
                <span ng-click="clickIntestazione(intestazione)">{{intestazione}}
                </span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="riga in righe">
            <td style="padding: 5px" ng-repeat="intestazione in intestazioni">{{riga[intestazione]}}</td>
        </tr>
    </tbody>

</table>

<!--div class="container-fluid">
    <div class="row">
        <div class="col" ng-repeat="intestazione in intestazioni">{{intestazione}}</div>
    </div>
    <div class="row" ng-repeat="riga in righe">
        <div class="col" ng-repeat="intestazione in intestazioni">{{riga[intestazione]}}</div>
    </div>
</div-->